---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src=
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Mi nombre es Germán, estudio desarrollo web, me encanta
				aprender nuevas tecnologías y mejorar mis habilidades. 
				Elegi esta profesión ya que es algo que mantiene la chispa
				de seguir aprendiendo y nutriendose, me desenvuelvo mejor en desarrollo FrontEnd por el momento
				pero planeo seguir capacitandome para llegar a ser FullStack
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
