---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/yop.jpeg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Mi nombre es Germán y soy estudiante de desarrollo web con un
				fuerte interés en el aprendizaje continuo y la mejora constante
				de mis habilidades técnicas. Elegí esta profesión por su
				dinamismo y por la posibilidad de evolucionar permanentemente en
				un entorno tecnológico en constante cambio. Actualmente me
				desempeño en el área de desarrollo Frontend, con el objetivo de
				continuar mi formación para alcanzar un perfil Full Stack.
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
