---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="German">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/Astro.svg"
				color="#e34063"
				name="Astro"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#FFFF00"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon 
				src="/assets/css.svg" 
				color="#00A3FF" 
				name="CSS" 
			/>
			<TerminalIcon
				src="/assets/typescript.svg"
				color="#3F75FF"
				name="Typescript"
			/>
					<TerminalIcon
				src="/assets/nodejs.svg"
				color="#03bb85"
				name="NodeJs"
			/>
		</div>
	</div>
</Terminal>
